* {
  box-sizing: border-box
}

body {
font-family: "Arial", sans-serif;
font-size: 22px;
text-align: center;
line-height: 1.3
}
nav, footer {
  background-color: #ddd;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

section {
  padding: 20px 10px;
  background-color: #aaa;
}
section:nth-child(odd){
  background-color: #bbb;
}

select {
  width: 100%;
  text-align: center;
  text-align-last: center;
  font-weight: 650;
  font-size: 16px;
}
nav span {
  position: absolute;
  right: 50px;
}